html, body {
	margin: 0;
	height: 100%;
}

#root, .graph {
	height: 100%;
}

* {
	box-sizing: border-box;
}
body {
	background-color: #ffffff;
}

#root {
	position: relative;
}

.panel {
	position: fixed;
	right: 0;
}
